{% load static %}
<style>
  .hello-msg{
    fornt-size:18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Doctor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'patient_list' %}">Patient list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_patient' %}">Add Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Appointments' %}">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'BloodTests' %}">Add Blood Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Mail' %}">Mail</a>
      </li>
    </ul>
  </div>


  <span class="hello-msg"> Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout' %}">logout</span>
</nav>